@import 'src/styles.scss';

.container {
    width: 100vw;
    height: auto;
    float: left;

    .home-banner {
        width: 57vw;
        float: left;

        img {
            width: 100%;
        }
    }

    .right-col {
        width: 38vw;
        padding: $spacer $doubleSpacer;
        float: left;
        position: relative;

        .short-desc {

            //display: none;
            h1 {
                font-weight: 700;
                font-size: 3.2em;
                margin: $halfSpacer 0;
                padding: 0;
            }

            h2 {
                font-weight: 300;
                font-size: 3.5em;
                margin: 4vh 0;
                padding: 0;
                color:$primary;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    line-height: 24px;
                    padding: 1vh 0;
                    font-size: 1.1em;
                    font-weight: 300;
                }
            }

            .add-cust {
                color: $primary;
                font-size: 1.4em;
                font-weight: 300;
                padding: $spacer;
                border: 1px solid $primary;
                background-color: transparent;
                margin: 5vh 0 0 10.5vw;
                transition: background-color ease-in-out .4s;

                span {
                    position: relative;
                    top: .5vh;
                }

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }

        .add-customer-form {
            width: 70%;
            margin: 2vh 5vw;
            position: absolute;
            right: 0%;
            top: 0;
            //opacity: 0;

            h2 {
                font-weight: 300;
                font-size: 1.5em;
                margin: 0 0 $halfSpacer 0;
                padding: 0;
            }
            form{
                border-radius: 4px;
                border: 1px solid $gray-300;
                padding: $spacer;
                box-shadow: $material-shadow;
                background-color: $white;
            }

            mat-form-field {
                display: block;
            }

            .button-row {
                display: flex;
                justify-content: flex-end;

                .mat-raised-button {
                    margin: 0 $spacer !important;
                    min-width: 64px;
                    line-height: 36px !important;
                }
            }
        }


    }


}

.sep{
    width:85vw;
    height: 1px;
    margin:3vh auto 1vh auto;
    clear: both;
    background: rgba(8,111,166,0);
    background: -moz-linear-gradient(left, rgba(8,111,166,0) 0%, rgba(8,111,166,1) 51%, rgba(8,111,166,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8,111,166,0)), color-stop(51%, rgba(8,111,166,1)), color-stop(100%, rgba(8,111,166,0)));
    background: -webkit-linear-gradient(left, rgba(8,111,166,0) 0%, rgba(8,111,166,1) 51%, rgba(8,111,166,0) 100%);
    background: -o-linear-gradient(left, rgba(8,111,166,0) 0%, rgba(8,111,166,1) 51%, rgba(8,111,166,0) 100%);
    background: -ms-linear-gradient(left, rgba(8,111,166,0) 0%, rgba(8,111,166,1) 51%, rgba(8,111,166,0) 100%);
    background: linear-gradient(to right, rgba(8,111,166,0) 0%, rgba(8,111,166,1) 51%, rgba(8,111,166,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#086fa6', endColorstr='#086fa6', GradientType=1 );
}

.customer-details {
    clear: both;
    width: 80vw;
    margin: 0 auto;
    padding: $doubleSpacer;
    
}

.mat-expansion-panel-header {
    height: 64px !important;
}

.mat-expansion-panel-header-title {
    font-weight: 300;
    font-size: 1.6em;
}

